<h3>Add New Post: </h3>

<form action="/new" method="POST" role="form">
  <div class="form-group">
    <input name="author" type="text" class="form-control" placeholder="Author">
    <br>
    <textarea name="content" class="form-control" rows="6" placeholder="Type post text here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>